# Introduction to Python

1. Python is a general purpose programming language that is often applied in scripting roles.

2. Python is Programming language as well as scripting language

3. Python is called interpreted language

Python is used for Web Development, Software Development, Mathematics, System Scripting

In [2]:
print("Hello, World")

Hello, World

### Python Indentation

We should have spaces at the beginning of the code line.
In other languages we use spaces for better readability but in python Indentation is really important
We use spaces to identify the block of code

In [5]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

### Python Variables

Variables are created when we assign a value to it.
it does not need any declaration

In [7]:
x=5
y="Hello world"
print(x)
print(y)

5
Hello world

### Python Comments

comments start with symbol # and it will consider the rest of the line as comment.

comments can be used to explain the code and make it more readable. it does not consider that line while excecution.

In [9]:
#this is comment.
print("hello world")


#single line comment
print("single line comment")

#this is a 
#multi line comment
print("multiline comment")


"""
another way of multiline comment

"""
print("another multiline comment")

hello world
single line comment
multiline comment
another multiline comment

Python variables are containers for storing data values

### Creating Variables

Python has no command for declaring the variables.
a variable is created the moment you first assign a value to it.

In [11]:
x=5
y="john"
print(x)
print(y)

5
john

Variables do not need to be declared with any particular type, and even change type after they have been set.

In [13]:
x=4 #here it is int
x="saly" #type has been changed and here it is str
print(x)

saly

if we want to specify the data type of variable, this can be done by casting

We can get the type of data type using the type() function

In [14]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

string variables when assigning to a variable can be assigned in a single quote or a double quote
variable names are case sensitive

Variable names can have a short name or a more descriptive name. rules for python

1. it must start with a letter or underscore character
2. it cannot start with a number
3. can contain alphanumeric
4. case sensitive

In [15]:
#legal variable names
myval = "sp"
my_val = "sp"
_my_val = "sp"
myVal = "sp"
MYVAL = "sp"
myvar2 = "sp"

In [17]:
#illegal variable names
#2myval = "sp"
#my-val = "sp"
#my val = "sp"

In [ ]:
#camel case
myValueName="sp"
#pascalcase
MyValueName="sp"
#snakecase
my_variable_name="sp"

Assigning multiple values in one line

In [19]:
x,y,z="sp","shreyas","sunku"
print(x)
print(y)
print(z)
x=y=z="sp"
print(x)
print(y)
print(z)

sp
shreyas
sunku
sp
sp
sp

### Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [20]:
fruits=["sp","sunku","shreyas"]
x,y,z=fruits
print(x)
print(y)
print(z)

sp
sunku
shreyas

### Output variables
In python we use print statement to output variables
"+" is used to combine text and variables

In [22]:
x="awesome"
print("python is "+x)

python is awesome

In [25]:
x="awesome "
y="is awesome"
z=x+y
print(z)

awesome is awesome

### Global variables
 When we create a variable outside the function it is called global variables

In [26]:
x="shreyas"

def func():
    print("my name is "+ x)
    
func()

my name is shreyas

variable inside the function is called local variable and can be used inside the function only

In [27]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("shreyas is " + x)

myfunc()

print("shreyas is " + x)

shreyas is fantastic
shreyas is awesome

if we need to use the local variable globally we can use the global keyword

In [35]:
x = "awesome"

def myfunc():
  global x 
  x= "fantastic"
  print("shreyas is " + x)

myfunc()

print("shreyas is " + x)

shreyas is fantastic
shreyas is fantastic

In [38]:
carname="volvo"
print(carname)
x=50
print(x)
x=5
y=10
print(x+y)
z=x+y
print(z)
myfirst_name = "John"
print(myfirst_name)
x=y=z="sp"
def myfunc():
  global x
  x = "fantastic"
  print(x)

myfunc()

volvo
50
15
15
John
fantastic

Strings in python is surrounded by single or double quotation marks
'hello' is same as "hello"
we can display string literal using the print function

In [39]:
print('hello')
print("hello")

hello
hello

In [42]:
#assigning values to a variable

a="hello"
print(a)

#multiline string to a variable
a="""hello this is a 
multiline string"""
print(a)

hello
hello this is a
multiline string

In [43]:
#string as arrays we can print specific characters as shown below
a="hello world"
print(a[2])

l

In [44]:
#looping throught the strings
for x in "banana":
    print(x)

b
a
n
a
n
a

In [45]:
a="shreyas"
print(len(a))

7

In [46]:
#check if particular string literal is present using in
txt="my name is shreyas"
print("shreyas" in txt)

True

In [47]:
#same can be done using the if condition
txt="my name is shreyas"
if "shreyas" in txt:
    print("yes")

yes

In [48]:
#check if particular string literal is not present using not in
txt="my name is shreyas"
print("if" not in txt)

True

In [49]:
txt="my name is shreyas"
if "if" not in txt:
    print("no")

no

In [50]:
#slicing to return the range of characters

x="hello world"
print(x[2:4])

ll

In [52]:
#slicing from start
x="hello world"
print(x[:3])

hel

In [53]:
#slicing from end
x="hello world"
print(x[3:])

lo world

In [54]:
#negative indexing
x="hello world"
print(x[-5:-2])

wor

In [63]:
#modification of string
a="hello world"
print(a.upper())

HELLO WORLD

In [58]:
a="HELLO WORLD"
print(a.lower())

hello world

In [65]:
a=" hello world "
print(a.strip())

hello world

In [67]:
a="hello world"
print(a.replace("h","j"))

jello world

In [68]:
a="hello,world"
print(a.split(","))

['hello', 'world']

In [70]:
#add number to a string
a=56
txt="my age is {}"
print(txt.format(a))

my age is 56

In [71]:
a=56
b=34
c=43
txt="a age is {} b age is {} c age is {}"
print(txt.format(a,b,c))

a age is 56 b age is 34 c age is 43

In [72]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [74]:
#he escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [73]:
x="hello world"
print(x)

hello world

In [75]:
txt="hello world"
x=txt[0]
print(x)

h

In [76]:
txt="hello world"
x=txt[2:4]
print(x)

ll

In [82]:
a=7
print(a)
b=7.0
print(b)

7
7.0